@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/alshaus/ALSHauss-Black.eot");
  src: local("ALS Hauss Black"), local("ALSHauss-Black"), url("/fonts/alshaus/ALSHauss-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-Black.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-Black.woff") format("woff"), url("/fonts/alshaus/ALSHauss-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "ALS Hauss Book";
  src: url("/fonts/alshaus/ALSHauss-Book.eot");
  src: local("ALS Hauss Book"), local("ALSHauss-Book"), url("/fonts/alshaus/ALSHauss-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-Book.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-Book.woff") format("woff"), url("/fonts/alshaus/ALSHauss-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/alshaus/ALSHauss-Light.eot");
  src: local("ALS Hauss Light"), local("ALSHauss-Light"), url("/fonts/alshaus/ALSHauss-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-Light.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-Light.woff") format("woff"), url("/fonts/alshaus/ALSHauss-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "ALS Hauss Book";
  src: url("/fonts/alshaus/ALSHauss-BookItalic.eot");
  src: local("ALS Hauss Book Italic"), local("ALSHauss-BookItalic"), url("/fonts/alshaus/ALSHauss-BookItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-BookItalic.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-BookItalic.woff") format("woff"), url("/fonts/alshaus/ALSHauss-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/alshaus/ALSHauss-Medium.eot");
  src: local("ALS Hauss Medium"), local("ALSHauss-Medium"), url("/fonts/alshaus/ALSHauss-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-Medium.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-Medium.woff") format("woff"), url("/fonts/alshaus/ALSHauss-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "ALS Hauss Hairline";
  src: url("/fonts/alshaus/ALSHauss-Hairline.eot");
  src: local("ALS Hauss Hairline"), local("ALSHauss-Hairline"), url("/fonts/alshaus/ALSHauss-Hairline.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-Hairline.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-Hairline.woff") format("woff"), url("/fonts/alshaus/ALSHauss-Hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/alshaus/ALSHauss-Thin.eot");
  src: local("ALS Hauss Thin"), local("ALSHauss-Thin"), url("/fonts/alshaus/ALSHauss-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-Thin.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-Thin.woff") format("woff"), url("/fonts/alshaus/ALSHauss-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/alshaus/ALSHauss-RegularItalic.eot");
  src: local("ALS Hauss Regular Italic"), local("ALSHauss-RegularItalic"), url("/fonts/alshaus/ALSHauss-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-RegularItalic.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-RegularItalic.woff") format("woff"), url("/fonts/alshaus/ALSHauss-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/alshaus/ALSHauss-BoldItalic.eot");
  src: local("ALS Hauss Bold Italic"), local("ALSHauss-BoldItalic"), url("/fonts/alshaus/ALSHauss-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-BoldItalic.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-BoldItalic.woff") format("woff"), url("/fonts/alshaus/ALSHauss-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/alshaus/ALSHauss-ThinItalic.eot");
  src: local("ALS Hauss Thin Italic"), local("ALSHauss-ThinItalic"), url("/fonts/alshaus/ALSHauss-ThinItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-ThinItalic.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-ThinItalic.woff") format("woff"), url("/fonts/alshaus/ALSHauss-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/alshaus/ALSHauss-Bold.eot");
  src: local("ALS Hauss Bold"), local("ALSHauss-Bold"), url("/fonts/alshaus/ALSHauss-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-Bold.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-Bold.woff") format("woff"), url("/fonts/alshaus/ALSHauss-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/alshaus/ALSHauss-Regular.eot");
  src: local("ALS Hauss Regular"), local("ALSHauss-Regular"), url("/fonts/alshaus/ALSHauss-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-Regular.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-Regular.woff") format("woff"), url("/fonts/alshaus/ALSHauss-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/alshaus/ALSHauss-MediumItalic.eot");
  src: local("ALS Hauss Medium Italic"), local("ALSHauss-MediumItalic"), url("/fonts/alshaus/ALSHauss-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-MediumItalic.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-MediumItalic.woff") format("woff"), url("/fonts/alshaus/ALSHauss-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/alshaus/ALSHauss-LightItalic.eot");
  src: local("ALS Hauss Light Italic"), local("ALSHauss-LightItalic"), url("/fonts/alshaus/ALSHauss-LightItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-LightItalic.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-LightItalic.woff") format("woff"), url("/fonts/alshaus/ALSHauss-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "ALS Hauss Hairline";
  src: url("/fonts/alshaus/ALSHauss-HairlineItalic.eot");
  src: local("ALS Hauss Hairline Italic"), local("ALSHauss-HairlineItalic"), url("/fonts/alshaus/ALSHauss-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-HairlineItalic.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-HairlineItalic.woff") format("woff"), url("/fonts/alshaus/ALSHauss-HairlineItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "ALS Hauss";
  src: url("/fonts/alshaus/ALSHauss-BlackItalic.eot");
  src: local("ALS Hauss Black Italic"), local("ALSHauss-BlackItalic"), url("/fonts/alshaus/ALSHauss-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/alshaus/ALSHauss-BlackItalic.woff2") format("woff2"), url("/fonts/alshaus/ALSHauss-BlackItalic.woff") format("woff"), url("/fonts/alshaus/ALSHauss-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
body {
  font-family: "ALS Hauss" !important;
  height: 100vh;
}

.navbar {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.navbar-brand img {
  height: 2.7rem;
  margin-right: 9rem;
}

.navbar-nav .nav-item {
  margin-right: 2.5rem;
}

@media only screen and (max-width: 1200px) {
  .navbar-nav .nav-item {
    margin-right: 1.3rem;
  }

  .navbar-brand img {
    margin-right: 3rem;
  }
}
.navbar__contact_us {
  background-color: #f07c00;
  color: white;
  border-radius: 0.5rem;
  width: 10rem;
  border: 0;
}
.navbar__contact_us img {
  height: 0.8rem;
}

.nav-item .active {
  color: #f07c00 !important;
  border-bottom: 2px solid #f07c00;
}

.main {
  background-color: #f0f0f0;
}

.main__card {
  display: flex;
  justify-content: center;
  position: relative;
}

.main__card__img {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.9rem;
  height: 25rem;
  max-width: 20rem;
}
.main__card__img img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.main__card__body {
  position: absolute;
  bottom: 3rem;
  left: 1.4rem;
  font-size: 25px;
  color: white;
}
.main__card__body strong {
  font-size: 1.3em;
  font-weight: bold;
  background-color: #f07c00;
  border-radius: 0.9rem 0.9rem 0 0;
  padding: 1rem;
}
.main__card__body span {
  font-size: 0.9em;
  font-weight: 300;
  background-color: #f07c00;
  padding: 0.9rem;
  border-radius: 0.9rem;
}

.help {
  background-color: #1c1c1c;
  color: white;
}
.help .help__form {
  margin-top: 2rem;
}
.help .help__form #phone {
  border-radius: 1.7rem 0 0 1.7rem;
  border: 0;
  padding: 1.2rem;
}
.help .help__form #phone:focus {
  outline: none;
}
.help .help__form #help__form__submit {
  border-radius: 0 1.7rem 1.7rem 0;
  border: 0;
  padding: 1.2rem;
  background-color: #f07c00;
  color: white;
}
.help .help__form #help__form__submit:focus {
  outline: none;
}
.help .help__title {
  font-size: 5rem;
  line-height: 90%;
  margin-top: 4rem;
}
.help .help__title__small {
  font-size: 1.8rem;
}

.about_us__title {
  font-size: 3rem;
  color: #96989b;
}

.about_us .row {
  margin-top: 2rem;
}
.about_us .about_us__text {
  font-size: 1.2rem;
  line-height: 110%;
}
.about_us .about_us__more {
  margin-top: -2.3rem;
}
.about_us .about_us__more .about_us__more__text {
  border-bottom: 2px solid #f07c00;
  padding-bottom: 2px;
}

.achievements {
  background-color: #f8f8f8;
  padding-top: 2.5rem;
}
.achievements .achievements__card {
  position: relative;
  height: 10rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
}
.achievements .achievements__card .achievements__card__title {
  font-size: 4rem;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f07c00;
}
.achievements .achievements__card .achievements__card__small {
  position: absolute;
  bottom: 1rem;
  color: #96989b;
}
.achievements .achievements__card:hover {
  background-color: white;
  cursor: pointer;
}
.achievements .achievements__card:hover .achievements__card__title {
  color: #f07c00;
  -webkit-text-stroke-width: 0;
}
.achievements .achievements__card:hover .achievements__card__small {
  color: black;
}

section {
  height: 100%;
}
section .container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.about_info {
  background-color: #f07c00;
  color: white;
}
.about_info .about_info__title {
  font-size: 3rem;
  line-height: 110%;
  color: white;
}
.about_info .about_info__text {
  font-size: 1.2rem;
  line-height: 120%;
}
.about_info .about_info__more .about_info__more__text {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}
